# Build artifacts
dist/
build/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Project specific
*.cert
*.key
*.zip
config.yml
instance_data.json
results/
.ipynb_checkpoints/
tutorial.md
specifications.json
specification.json
MNIST_data/
data/
