*.cert
*.key
*.zip
config.yml
instance_data.json
.DS_Store
results
__pycache__
week7
aws-blog-emr-jupyter
.ipynb_checkpoints
tutorial.md
specifications.json
configure_aws_gpu_instance.py
MNIST_data
data
specification.json
conv_nets
